// importing style packages
//@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap.scss"
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins"
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon"
@import "../bower_components/font-awesome/css/font-awesome.min.css"
@import "mixins"

// fonts
@font-face
  font-family: "Kayak"
  src: url("../fonts/Kayak.otf")

/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default
$brand-success: #84ce3c !default
$brand-warning: #ffec39 !default
$brand-danger: #fc483f !default
$brand-info: #000072 !default

$facebook: #3a579d !default
$google: #dd4d3c !default
$twitter: #49c8f5 !default

$body-bg: #fff !default

$link-hover-color: black !default
$link-hover-decoration: none !default

$font-family-sans-serif: "Kayak", "Helvetica", "Helvetica Neue", Helvetica, Arial, sans-serif !default
$font-family-serif: Georgia, "Times New Roman", Times, serif !default

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap"

*
  margin: 0 auto
  padding: 0
  box-sizing: border-box

  &:hover, &:focus, &:active
    outline: none !important

body
  font-family: $font-family-sans-serif

a
  cursor: pointer
  color: black

img
  @include transition(all 300ms ease)

// classes
.white
  color: white
.black
  color: black
.white-bg
  background-color: white
.black-bg
  background-color: black

.btn
  height: 30px
  font-family: $font-family-sans-serif
  font-weight: 400
  @include transition(all 300ms ease)
  outline: 0 !important

.clearfix
  overflow: auto

/* Start writing sass here */
// - HEADER
header
  min-width: 100%
  padding: 30px 0 30px 50px
  .logo
    h1
      margin: 0
      padding: 5px 10px
      display: inline-block
      border: 3px solid black
      cursor: pointer

.home
  padding: 20px 0
  .home-blogs
    .blog-post
      width: 80%
      margin: 0 auto 50px
      cursor: pointer
      background-color: gray
      border-radius: 5px
      overflow: hidden

      .blog-image
        width: 100%
        height: 400px
        position: relative
        img
          width: 100%
          height: 100%
          vertical-align: middle
        span
          position: absolute
          top: 20px
          left: 20px
          background-color: yellow
          padding: 2px 8px
          border-radius: 5px

      .blog-info
        padding: 20px
        color: white
        .blog-title
          margin: 0
          font-size: 24px
          font-weight: bold
        .blog-desc
          font-size: 18px

.blog
  .blog-image
    width: 100%
    height: 800px
    background-image: url('../img/6.jpg')
    background-size: cover
    background-position: center
    background-attachment: fixed
    img
      width: 100%
      height: 100%

  .blog-head
    padding: 50px 0
    .blog-tag
      padding: 5px 12px
      font-weight: bold
      border: 2px solid #777
      border-radius: 2px
    .blog-title
      margin: 50px 0
      font-size: 80px
    .blog-time
      font-size: 18px

  .user-details
    width: 300px
    border: 2px solid #eee
    border-radius: 5px
    .user-image
      margin: 30px 50px
      img
        width: 100%
        height: 100%
    .user-name
      margin: 20px 0
      font-size: 24px
    .user-social
      ul
        width: 100%
        border-top: 2px solid #eee
        border-bottom: 2px solid #eee
        li
          width: 32%
          padding: 10px 0
          display: inline-block
          a
            font-size: 18px
        li + li
          border-left: 2px solid #eee

  .blog-detail
    h4
      margin: 0
      font-size: 40px
    p
      margin: 10px 0 50px
      font-size: 24px

.user
  .user-details
    width: 300px
    border: 2px solid #eee
    border-radius: 5px
    .user-image
      margin: 30px 50px
      img
        width: 100%
        height: 100%
    .user-name
      margin: 20px 0
      font-size: 24px
    .user-social
      ul
        width: 100%
        margin: 0
        border-top: 2px solid #eee
        li
          width: 32%
          padding: 10px 0
          display: inline-block
          a
            font-size: 18px
        li + li
          border-left: 2px solid #eee

  .blog-post
    width: 90%
    margin: 0 auto 50px
    cursor: pointer
    background-color: gray
    border-radius: 5px
    overflow: hidden

    .blog-image
      width: 100%
      height: 400px
      position: relative
      img
        width: 100%
        height: 100%
        vertical-align: middle
      span
        position: absolute
        top: 20px
        left: 20px
        background-color: yellow
        padding: 2px 8px
        border-radius: 5px

    .blog-info
      padding: 20px
      color: white
      .blog-title
        margin: 0
        font-size: 24px
        font-weight: bold
      .blog-desc
        font-size: 18px
