<section>
  <div class="home">
    <div class="home-blogs">

      <div class="container-fluid">
        <div class="row">

          <div class="col-md-3" ng-repeat="user in allUsers">
            <div class="blog-post">
              <div class="blog-image">
                <img ng-src="{{userProfile}}" alt="" class="img-responsive" />
                <span class="blog-tag text-uppercase">{{user.blog_category}}</span>
              </div>
              <div class="blog-info">
                <p class="blog-title">{{user.blog_title}}</p>
                <span class="blog-desc">{{user.blog_description}}</span>
              </div>
            </div>
          </div>

        </div>
    </div>
    
  </div>
</section>
