<section>
  <div class="home">
    <div class="home-blogs">

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="blog-post">
              <div class="blog-image">
                <img src="img/1.jpg" alt="" class="img-responsive" />
                <span class="blog-tag text-uppercase">Science</span>
              </div>
              <div class="blog-info">
                <p class="blog-title">Hello World Blog</p>
                <span class="blog-desc">This is my first blog</span>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="blog-post">
              <div class="blog-image">
                <img src="img/2.jpg" alt="" class="img-responsive" />
                <span class="blog-tag text-uppercase">Science</span>
              </div>
              <div class="blog-info">
                <p class="blog-title">Hello World Blog</p>
                <span class="blog-desc">This is my first blog</span>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="blog-post">
              <div class="blog-image">
                <img src="img/3.jpg" alt="" class="img-responsive" />
                <span class="blog-tag text-uppercase">Science</span>
              </div>
              <div class="blog-info">
                <p class="blog-title">Hello World Blog</p>
                <span class="blog-desc">This is my first blog</span>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="blog-post">
              <div class="blog-image">
                <img src="img/4.jpg" alt="" class="img-responsive" />
                <span class="blog-tag text-uppercase">Science</span>
              </div>
              <div class="blog-info">
                <p class="blog-title">Hello World Blog</p>
                <span class="blog-desc">This is my first blog</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="blog-post">
              <div class="blog-image">
                <img src="img/1.jpg" alt="" class="img-responsive" />
                <span class="blog-tag text-uppercase">Science</span>
              </div>
              <div class="blog-info">
                <p class="blog-title">Hello World Blog</p>
                <span class="blog-desc">This is my first blog</span>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="blog-post">
              <div class="blog-image">
                <img src="img/2.jpg" alt="" class="img-responsive" />
                <span class="blog-tag text-uppercase">Science</span>
              </div>
              <div class="blog-info">
                <p class="blog-title">Hello World Blog</p>
                <span class="blog-desc">This is my first blog</span>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="blog-post">
              <div class="blog-image">
                <img src="img/3.jpg" alt="" class="img-responsive" />
                <span class="blog-tag text-uppercase">Science</span>
              </div>
              <div class="blog-info">
                <p class="blog-title">Hello World Blog</p>
                <span class="blog-desc">This is my first blog</span>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="blog-post">
              <div class="blog-image">
                <img src="img/4.jpg" alt="" class="img-responsive" />
                <span class="blog-tag text-uppercase">Science</span>
              </div>
              <div class="blog-info">
                <p class="blog-title">Hello World Blog</p>
                <span class="blog-desc">This is my first blog</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="blog-post">
              <div class="blog-image">
                <img src="img/1.jpg" alt="" class="img-responsive" />
                <span class="blog-tag text-uppercase">Science</span>
              </div>
              <div class="blog-info">
                <p class="blog-title">Hello World Blog</p>
                <span class="blog-desc">This is my first blog</span>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="blog-post">
              <div class="blog-image">
                <img src="img/2.jpg" alt="" class="img-responsive" />
                <span class="blog-tag text-uppercase">Science</span>
              </div>
              <div class="blog-info">
                <p class="blog-title">Hello World Blog</p>
                <span class="blog-desc">This is my first blog</span>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="blog-post">
              <div class="blog-image">
                <img src="img/3.jpg" alt="" class="img-responsive" />
                <span class="blog-tag text-uppercase">Science</span>
              </div>
              <div class="blog-info">
                <p class="blog-title">Hello World Blog</p>
                <span class="blog-desc">This is my first blog</span>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="blog-post">
              <div class="blog-image">
                <img src="img/4.jpg" alt="" class="img-responsive" />
                <span class="blog-tag text-uppercase">Science</span>
              </div>
              <div class="blog-info">
                <p class="blog-title">Hello World Blog</p>
                <span class="blog-desc">This is my first blog</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="blog-post">
              <div class="blog-image">
                <img src="img/1.jpg" alt="" class="img-responsive" />
                <span class="blog-tag text-uppercase">Science</span>
              </div>
              <div class="blog-info">
                <p class="blog-title">Hello World Blog</p>
                <span class="blog-desc">This is my first blog</span>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="blog-post">
              <div class="blog-image">
                <img src="img/2.jpg" alt="" class="img-responsive" />
                <span class="blog-tag text-uppercase">Science</span>
              </div>
              <div class="blog-info">
                <p class="blog-title">Hello World Blog</p>
                <span class="blog-desc">This is my first blog</span>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="blog-post">
              <div class="blog-image">
                <img src="img/3.jpg" alt="" class="img-responsive" />
                <span class="blog-tag text-uppercase">Science</span>
              </div>
              <div class="blog-info">
                <p class="blog-title">Hello World Blog</p>
                <span class="blog-desc">This is my first blog</span>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="blog-post">
              <div class="blog-image">
                <img src="img/4.jpg" alt="" class="img-responsive" />
                <span class="blog-tag text-uppercase">Science</span>
              </div>
              <div class="blog-info">
                <p class="blog-title">Hello World Blog</p>
                <span class="blog-desc">This is my first blog</span>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</section>
