<section>
  <div class="container-fluid">
    <div class="col-md-3">
      <div class="user-details">
        <div class="user-image">
          <img src="" alt="" class="img-responsive img-circle">
        </div>
        <p class="user-name">Harsh Thakkar</p>
        <div class="user-social">
          <ul>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4">
          <div class="blog-post">
            <div class="blog-image">
              <img src="" alt="" class="img-responsive" />
              <span class="blog-tag text-uppercase">Science</span>
            </div>
            <div class="blog-info">
              <span class="blog-title">Hello World Blog</span>
              <span class="blog-desc">This is my first blog</span>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="blog-post">
            <div class="blog-image">
              <img src="" alt="" class="img-responsive" />
              <span class="blog-tag text-uppercase">Science</span>
            </div>
            <div class="blog-info">
              <span class="blog-title">Hello World Blog</span>
              <span class="blog-desc">This is my first blog</span>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="blog-post">
            <div class="blog-image">
              <img src="" alt="" class="img-responsive" />
              <span class="blog-tag text-uppercase">Science</span>
            </div>
            <div class="blog-info">
              <span class="blog-title">Hello World Blog</span>
              <span class="blog-desc">This is my first blog</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="blog-post">
            <div class="blog-image">
              <img src="" alt="" class="img-responsive" />
              <span class="blog-tag text-uppercase">Science</span>
            </div>
            <div class="blog-info">
              <span class="blog-title">Hello World Blog</span>
              <span class="blog-desc">This is my first blog</span>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="blog-post">
            <div class="blog-image">
              <img src="" alt="" class="img-responsive" />
              <span class="blog-tag text-uppercase">Science</span>
            </div>
            <div class="blog-info">
              <span class="blog-title">Hello World Blog</span>
              <span class="blog-desc">This is my first blog</span>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="blog-post">
            <div class="blog-image">
              <img src="" alt="" class="img-responsive" />
              <span class="blog-tag text-uppercase">Science</span>
            </div>
            <div class="blog-info">
              <span class="blog-title">Hello World Blog</span>
              <span class="blog-desc">This is my first blog</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="blog-post">
            <div class="blog-image">
              <img src="" alt="" class="img-responsive" />
              <span class="blog-tag text-uppercase">Science</span>
            </div>
            <div class="blog-info">
              <span class="blog-title">Hello World Blog</span>
              <span class="blog-desc">This is my first blog</span>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="blog-post">
            <div class="blog-image">
              <img src="" alt="" class="img-responsive" />
              <span class="blog-tag text-uppercase">Science</span>
            </div>
            <div class="blog-info">
              <span class="blog-title">Hello World Blog</span>
              <span class="blog-desc">This is my first blog</span>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="blog-post">
            <div class="blog-image">
              <img src="" alt="" class="img-responsive" />
              <span class="blog-tag text-uppercase">Science</span>
            </div>
            <div class="blog-info">
              <span class="blog-title">Hello World Blog</span>
              <span class="blog-desc">This is my first blog</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="blog-post">
            <div class="blog-image">
              <img src="" alt="" class="img-responsive" />
              <span class="blog-tag text-uppercase">Science</span>
            </div>
            <div class="blog-info">
              <span class="blog-title">Hello World Blog</span>
              <span class="blog-desc">This is my first blog</span>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="blog-post">
            <div class="blog-image">
              <img src="" alt="" class="img-responsive" />
              <span class="blog-tag text-uppercase">Science</span>
            </div>
            <div class="blog-info">
              <span class="blog-title">Hello World Blog</span>
              <span class="blog-desc">This is my first blog</span>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="blog-post">
            <div class="blog-image">
              <img src="" alt="" class="img-responsive" />
              <span class="blog-tag text-uppercase">Science</span>
            </div>
            <div class="blog-info">
              <span class="blog-title">Hello World Blog</span>
              <span class="blog-desc">This is my first blog</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="blog-post">
            <div class="blog-image">
              <img src="" alt="" class="img-responsive" />
              <span class="blog-tag text-uppercase">Science</span>
            </div>
            <div class="blog-info">
              <span class="blog-title">Hello World Blog</span>
              <span class="blog-desc">This is my first blog</span>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="blog-post">
            <div class="blog-image">
              <img src="" alt="" class="img-responsive" />
              <span class="blog-tag text-uppercase">Science</span>
            </div>
            <div class="blog-info">
              <span class="blog-title">Hello World Blog</span>
              <span class="blog-desc">This is my first blog</span>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="blog-post">
            <div class="blog-image">
              <img src="" alt="" class="img-responsive" />
              <span class="blog-tag text-uppercase">Science</span>
            </div>
            <div class="blog-info">
              <span class="blog-title">Hello World Blog</span>
              <span class="blog-desc">This is my first blog</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
